* {
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Recoleta;
  src: url(../fonts/Recoleta-Bold.ttf);
}
@font-face {
  font-family: Noto Sans;
  src: url(../fonts/NotoSans-Regular.ttf);
}
.container {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: unset;
    padding: 0 30px;
  }
}
.header {
  background: #163A24;
  padding: 30px 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
}
@media (max-width: 650px) {
  .header__menu {
    display: none;
  }
}
.header__menu__list {
  display: flex;
  align-items: center;
}
.header__menu__item {
  margin-right: 32px;
}
.header__menu__link {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #FBFAF7;
}
.header__btn {
  display: flex;
  align-items: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #FBFAF7;
  border-radius: 160px;
  background: #198C36;
  padding: 15px 25px;
}
.header__burger {
  display: none;
}
@media (max-width: 650px) {
  .header__burger {
    align-items: center;
    display: flex;
  }
}
.intro {
  background: #163A24;
  padding: 25px 0;
}
.intro__wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 650px) {
  .intro__wrap {
    flex-wrap: wrap;
  }
}
.intro__title {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  margin-bottom: 20px;
  color: #FBFAF7;
}
.intro__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FBFAF7;
}
.intro__img {
  align-items: center;
}
@media (max-width: 1200px) {
  .intro__img {
    height: 360px;
  }
  .intro__img img {
    width: 100%;
    height: 360px;
  }
}
.banner {
  padding-top: 120px;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
}
.banner__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .banner__block {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .banner__block_reverse {
    flex-direction: column-reverse;
  }
}
.banner__texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 376px;
}
.banner__title {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
  display: flex;
  justify-content: center;
}
.banner__title:last-of-type {
  margin-top: 113px;
}
.banner__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}
.banner__icons {
  display: flex;
  justify-content: space-around;
  margin: 66px 0;
}
@media (max-width: 768px) {
  .banner__icons {
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
  }
}
.banner__icons__logo {
  margin-right: 15px;
  max-height: 60px;
}
.banner__img img {
  width: 100%;
}
@media (max-width: 768px) {
  .banner__img {
    margin-top: 50px;
  }
}
.service__func {
  background: #163A24;
}
.service__func__blocks {
  display: flex;
  justify-content: space-around;
  padding-bottom: 145px;
  flex-wrap: wrap;
}
.service__func__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.service__func__img {
  display: flex;
  justify-content: center;
}
.service__func__img img {
  height: 120px;
  max-width: 100px;
  width: 100%;
  margin-bottom: 50px;
}
.service__func__title {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #FBFAF7;
  padding: 66px 0px;
}
.service__func__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FBFAF7;
}